* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 178, 44);
}

.keyboard {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(200, 208, 214);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.key {
    background-color: rgb(240, 248, 255);
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

.key:hover {
    border: 1px solid #FFF;
}

.a:hover {
    color: yellow;
    box-shadow: 2px -4px 10px 3px;
    font-size: 26px;
}

.b:hover {
    color: rgb(58, 184, 58);
    box-shadow: 2px -4px 10px 3px;
    font-size: 26px;
}

.c:hover {
    color: rgb(31, 234, 248);
    box-shadow: 2px -4px 10px 3px;
    font-size: 26px;
}

.d:hover {
    color: pink;
    box-shadow: 2px -4px 10px 3px;
    font-size: 26px;
}

.e:hover {
    color: orange;
    box-shadow: 2px -4px 10px 3px;
    font-size: 26px;
}

.backspace {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.enter {
    grid-column: span 4;
}

.left-shift {
    grid-column: span 5;
}

.right-shift {
    grid-column: span 5;
}

.left-ctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
}

.space {
    grid-column: span 13;
}